@use 'normalize';

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica-bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-color: #0a2d57;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: unset;
  position: relative;
}

main {
  position: relative;
  height: 100%;
}

button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 1rem 2rem;
  background-color: #222;
  border: none;
  border-radius: 2rem;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
}

strong {
  font-weight: 700;
}

.splash-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: -1;

  span {
    opacity: 0.6;
  }

  .spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid;
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5)
      rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-bottom: 1rem;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vr {
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(8px);
}
